body {
    background-color: black;
    overflow: hidden;
}

#fulldate {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 100px;
    font-weight: 800;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* media queries  */


@media (max-width:800px) {
    body {
        overflow: hidden;
    }
    #fulldate {
        font-size: 45px;
        transform: scale(1, 3);
    }
}
